[tooltip]:active::after {
    content: attr(tooltip);
}
body {
    font-family: Arial, sans-serif;
    max-width: calc(66ch + 1em); /* 66 characters + some padding */
    margin: 0 auto; /* Center the text block */
    padding: 1em;
    line-height: 1.5; /* Optional: improve readability */
}
#output {
    margin-top: 20px;
    white-space: pre-wrap;
}
.hint {
    background-color: #ddd;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    cursor: pointer; /* Change cursor to indicate it's clickable */
}

.hint:not(.active) {
    background-color: #eee;
    color: #eee;
    min-width: 96px;
    user-select: none;
}

.hint:not(.active)::before {
    position: absolute;
    top: 8px;
    left: 12px;
    content: 'Click to reveal'; /* non-breaking spaces probably necessary */
    color: #999;
}

.hintUnravel {
    background-color: #ddd;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.hidden-content {
    display: none; /* Initially hidden */
}

.hint.active .hidden-content {
    display: inline; /* Show content when active */
    color: #000; /* Change color to visible */
}

.hidden {
    display: none;
}

.button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
}

.highlight {
    background-color: lightgreen;
}

.input-container {
    display: inline;
}
